/my_photos
/dataset_debug/images
/dataset_debug/labels
/dataset_debug
/p-my_photos
/ExtractAndPlace/my_photos
/ExtractAndPlace/objects
/ExtractAndPlace/dataset
/ExtractAndPlace/__pycache__
/Making Box/images
/Making Box/labels
Making Box/history.json
Making Box/image1.jpeg
/Making Box/dataset
/Making Box/input_images
/Making Box/experimental/mosaic
/Making Box/experimental/experiment2_underApiLimitAuto/raw_data
Making Box/experimental/experiment2_underApiLimitAuto/history.json
/dataset
Making Box/experimental/experiment2_underApiLimitAuto/history.json
Making Box/experimental/experiment2_underApiLimitAuto/history.json
ExtractAndPlace/polished_objects/
ExtractAndPlace/rawObj/objPiCamera/
ExtractAndPlace/rawObj/solo_obj/
/ExtractAndPlace/polished_objects2
/ExtractAndPlace/objects2
/ExtractAndPlace/New folder
ExtractAndPlace/Streamlit/threshold_config.json
/ExtractAndPlace/Streamlit/temp
/ExtractAndPlace/Streamlit/pages/temp
/ExtractAndPlace/Streamlit/pages/ble_detection_app/__pycache__
/ExtractAndPlace/rawObj/objPiCamera2
*.pyc
/ExtractAndPlace/Streamlit/pages/rawObj/objPiCamera
/ExtractAndPlace/Streamlit/pages/rawObj/objPiCamera2
/ExtractAndPlace/Streamlit/pages/rawObj/solo_obj
/ExtractAndPlace/Streamlit/ble_detection_app/pages/rawObj/objPiCamera
/ExtractAndPlace/Streamlit/ble_detection_app/pages/rawObj/objPiCamera2
/ExtractAndPlace/Streamlit/ble_detection_app/pages/rawObj/solo_obj
/ExtractAndPlace/Streamlit/ble_detection_app/pages/temp/app1_extract_selector/objects/objPiCamera_20250703_125931
/ExtractAndPlace/Streamlit/ble_detection_app/pages/temp/app1_extract_selector/objects
/ExtractAndPlace/Streamlit/ble_detection_app/pages/temp/app2_detect_and_save/saved
